{% extends "notes/layout.html"%}

{% block header %}
<ul>
    {%for note in notes%}
        <li>{{note}}</li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        {%for note in notes%}
            <div class="note-button" data-id="{{note.id}}">
                <h1>{{note.title}}</h1>
                <p>{{ note.description }}</p>
            </div>
        {% endfor %}
    {% else %}
        <form action="{% url 'login'%}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" id="username">
            <input type="password" name="password" id="password">
            <input type="submit" name="submit" value="submit">
        </form>
    {% endif %}
    
{% endblock %}