{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'notes/css/master.css' %}>
    <script src={% static 'notes/js/text_edit.js' %}></script>
    <title>my cheatsheet</title>
</head>
<body>
    <header id="header">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">home</a></li>
                <li><a href="">log in</a></li>
                <li><a href="">create note</a></li>
            </ul>
        </nav>
        {% block header %}
        {% endblock %}
    </header>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>