{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'notes/css/master.css' %}>
    <script src={% static 'notes/js/textEdit.js' %}></script>
    <title>my cheatsheet</title>
</head>
<body>
    <header id="header">
        {% if request.user.is_authenticated %}
            <h2>{{request.user.username}}'s workspace</h3>
        {% endif %}
        <nav class="primary">
            <ul>
                <li><a href="{% url 'index' %}">home</a></li>
                <li><a href="javascript:new_note()">create note</a></li>
                <li> <a href="{% url 'logout' %}"> log out</a></li>
            </ul>
        </nav>
        <nav class="secondary">
            {% block header %}
            {% endblock %}
        </nav>
    </header>
    <div id="content-area">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <datalist id="styles" >
        <option value="#list"></option>
        <option value="#numbered list"></option>
        <option value="#checklist"></option>
        <option value="#quote"></option>
        <option value="#code"></option>
        <option value="#heading"></option>
        <option value="#heading 3"></option>
        <option value="#heading 6"></option>
    </datalist>

</body>
</html>