{% extends "notes/layout.html"%}

{% block header %}
    <a href="{% url 'index'%}">home</a>
    {% for step in note.ordered_steps %}
    <a href=""><div>{{step.title}}</div></a>
    {% endfor %}

{% endblock %}

{% block content %}

<h1>{{note.title}}</h1>
<p>{{note.description}}</p>

{% for step in note.ordered_steps %}
    <div class="step-container">
        <h3 class="step-title">{{step.title}}</h3>
        <p>{{step.description}}</p>
        <div class="add-content">+</div>
        {% for element in step.ordered_elements %}
            <p>{{element.content}}</p>
            <div class="add-content">+</div>
        {% endfor %}
    </div>
{% endfor %}
<p contenteditable="True" ></p>
<p contenteditable="True" >i'm a paragraph</p>
<p contenteditable="True" ></p>

{% endblock %}